<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <button onclick="myAjax()">비동기로 데이터 요청</button>
    <button onclick="myAjax2()">비동기로 사번 입력해서 사원명, 급여 검색 요청</button>
    
    <br><hr><br>

    <div id="demo"></div>

    <br><hr><br>
    이름 : <input type="text" id="uname"> <br>
    나이 : <input type="text" id="uage"> <br>

    <br><hr><br>
    사원번호 : <input type="text" id="empno" value="7369" placeholder="입력해!!"> <br>
    사원명 : <input type="text" id="ename"> <br>
    사원급여 : <input type="text" id="sal"> <br>
    
    <!-- 비동기로 등록도 개발
    버튼 추가시 등록 정보를 서버에 전송
    등록 완료 후에 정상 응답인 경우 직원 정보에 자동 출력 -->
    <br><hr><br>
    <h3>직원 등록</h3>

    사원번호 : <input type="text" id="newEmpno" value="1234" > <br>
    사원명 : <input type="text" id="newEname" value="최한승"> <br>
    사원급여 : <input type="text" id="newSal" value="1000"> <br>
    <button id="insertBtn" onclick="insertEmp()">등록</button>

    <br><hr><br>
    <h3>직원 정보 수정</h3>

    사원번호 : <input type="text" id="upEmpno" value="1234" > <br>
    사원명 : <input type="text" id="upEname" value="최한승"> <br>
    사원급여 : <input type="text" id="upSal" value="1000"> <br>
    <button id="insertBtn" onclick="UpdateEmp()">등록</button>

    <br><hr><br>
    사원번호 : <input type="text" id="delEmpno" value="1234" > <br>
    <button id="delBtn" onclick="DelEmp()">직원 정보 삭제</button>

    <script>
        
        function DelEmp(){
            const xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function () {
                if (this.readyState == 4 && this.status == 200) {  
                    if (this.responseText == ''){
                        alert("해당 사원번호가 존재하지 않습니다.")
                    }
                    else {
                        alert(document.getElementById("delEmpno").value+"번 사원번호 삭제 완료")
                    }
                }
            };
            xhttp.open("POST", "delete");  
            xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
            queryString = 'empno=' + document.getElementById("delEmpno").value;

            xhttp.send(queryString);  //empno=값 표현식의 문자열 
        }

        // 업데이트 - 사원번호 받아 sal 수정
        function UpdateEmp(){
            const xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function () {
                if (this.readyState == 4 && this.status == 200) {  
                    if (this.responseText == ''){
                        alert("해당 사원번호가 존재하지 않습니다.")
                    }
                    else {
                        alert(document.getElementById("upEmpno").value+"번 사원 급여 업데이트 완료")
                    }
                }
            };
            xhttp.open("POST", "update");  //http://127.0.0.1:5000/insert 으로 post 로 데이터 저장 
            xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
            queryString = 'empno=' + document.getElementById("upEmpno").value
                        + '&ename=' + document.getElementById("upEname").value 
                        + '&sal=' + document.getElementById("upSal").value;

            xhttp.send(queryString);  //empno=값 표현식의 문자열 
        }



        // 등록
        function insertEmp(){
            const xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function () {
                if (this.readyState == 4 && this.status == 200) {  
                    data = this.responseText;
                    data = JSON.parse(data);
                    document.getElementById("empno").value = document.getElementById("newEmpno").value ;
                    document.getElementById("ename").value = document.getElementById("newEname").value;
                    document.getElementById("sal").value = document.getElementById("newSal").value;

                }
            };
            xhttp.open("POST", "insert");  //http://127.0.0.1:5000/insert 으로 post 로 데이터 저장 
            xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
            
            queryString = 'empno=' + document.getElementById("newEmpno").value 
                        + '&ename=' + document.getElementById("newEname").value 
                        + '&sal=' + document.getElementById("newSal").value;

            xhttp.send(queryString);  //empno=값 표현식의 문자열 
        }


        function myAjax2() {
            const xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function () {
                if (this.readyState == 4 && this.status == 200) {  
                    data = this.responseText;
                    data = JSON.parse(data);
                    document.getElementById("ename").value = data.ename;
                    document.getElementById("sal").value = data.sal;
                }
            };
            xhttp.open("POST", "getemp");  //http://127.0.0.1:5000/getemp 으로 post 로 데이터 저장 
            xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
            xhttp.send("empno="+document.getElementById("empno").value);  //empno=값 표현식의 문자열 
        }


        function myAjax() {
            const xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function () {
                if (this.readyState == 4 && this.status == 200) {  //정상 응답 완료 여부 검증 
                    data = this.responseText;

                    document.getElementById("demo").innerHTML = data;
                    
                    data = JSON.parse(data); //key로 value 사용 가능한 json 객체로 변환 
                    document.getElementById('uname').value = data.name;
                    document.getElementById('uage').value = data.age;
                }
            };

            xhttp.open("GET", "getdata");

            xhttp.send();
        }

    </script>
</body>

</html>


<!--
http://127.0.0.1:5000 - app.py : return render_template('reqres.html')  :::: 동기 
 -> reqres.html 실행 : 버튼 클릭 -> app.py의 또 다른 데이터 응답 함수 -> reqres.html   :::: 비동기 


-->